<div class="home-anchor">
    <div class="clearfix">
        <div ng-repeat="item in homeVm.newReleases track by $index"
             ng-click="homeVm.playSong($index, item.name);"
             class="text-center song-name pointer">
            <div>{{item.name}}</div>
            <div class="fa-3x">
                <div class="fa fa-play fa-1x" ng-if="!item.playing"></div>
                <div class="fa fa-stop" ng-if="item.playing"></div>
            </div>
            <div ng-class="{'playing-animation' : item.playing}"></div>
        </div>
        <audio id="playMe">
            <source ng-src="">
        </audio>
    </div>
</div>