<section class="radio">
    <div class="container">
        <div class="row search-row">
            <div class="col-md-8">
                <h4>Channels</h4>
            </div>
            <div class="col-md-4 channel-search">
           	 <input type='text' ng-model='rc.searchText' 
           	 placeholder="Seach for Channels" 
           	 ng-change='rc.searchEntry()' 
           	 class="form-control"
           	 ng-model-options="{ updateOn: 'default blur' , debounce:  {'default': 500} }" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="station-container" ng-repeat="value in rc.radioMgr.pgMgr.artistList track by $index" ng-click="rc.radioMgr.pgMgr.getTrackForArtist(value)">
                    <div>
                        <img class="artist" src="{{value.images[0].url}}" ng-class="{'selected-artist':rc.isSelected(value.id)}">
                        <div class="artist-name">{{value.name}}</div>
                        <div class="artist-overlay" ng-show="!rc.radioMgr.pgMgr.playing && rc.isSelected(value.id)"><i class="fa fa-play"></i></div>
                        <div class="artist-non-select-overlay" ng-show="!rc.isSelected(value.id)"><i class="fa fa-play"></i></div>
                        <div class="artist-overlay" ng-show="rc.radioMgr.pgMgr.playing && rc.isSelected(value.id)"><i class="fa fa-pause"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row radio-now-playing">
            <div class="col-xs-12 radio-current-channel">
            	<h4 ng-show="rc.radioMgr.pgMgr.artistSelected === false">No Channel Selected</h4>
                <h4 ng-show="rc.radioMgr.pgMgr.artistSelected === true && rc.radioMgr.pgMgr.artistTrackList.length===0">No tracks available for {{rc.radioMgr.pgMgr.selectedArtist.name}}</h4>
                <h4 ng-show="rc.radioMgr.pgMgr.artistSelected === true && rc.radioMgr.pgMgr.artistTrackList.length!==0">Playing {{rc.radioMgr.pgMgr.artistTrackList.length}} track(s) from {{rc.radioMgr.pgMgr.selectedArtist.name}}</h4>
            </div>
        </div>
        <div class="col-xs-12" id="player-container">
            <audio controls id="player">
                <source id="player-src" src="" type="audio/mpeg">
            </audio>
        </div>
    </div>
</section>
