<div class="moods">

    <div class="row">
        <span class="col-md-1 text-center fa-2x " ng-class="{'left-arrow' : genreVm.startIndex !== 0 }" >
            <i class="fa fa-angle-double-left" ng-click="genreVm.showPrevious()" ng-hide="genreVm.startIndex === 0"></i>
        </span>
        <div class="col-md-10">
            <ul class="row clearfix genre-carousal">
                <li ng-repeat="genre in genreVm.displayGenre" class="genre-name text-center"
                    ng-click="genreVm.selectedGenre = genre.name; genreVm.tracks = null;  genreVm.getGenreById(genre.id)">
                    <div ng-bind="genre.name"></div>
                </li>
            </ul>
        </div>
        <span class="col-md-1 text-center fa-2x"  ng-class="{'right-arrow' : genreVm.endIndex !== genreVm.content.length }">
            <i class="fa fa-angle-double-right" ng-click="genreVm.showNext()" ng-hide="genreVm.endIndex === genreVm.content.length"></i>
        </span>
    </div>

    <div ng-if="genreVm.selectedGenre">
        <h3>{{genreVm.selectedGenre}}</h3>
        <div class="row">
            <div class="col-md-3 genre-lists">
                <div ng-repeat="list in genreVm.dataByIdList">
                    <div ng-click="genreVm.tracks = list.refs.tracks" class="indent">
                        {{list.name}}
                    </div>
                </div>
            </div>
            <div class="col-md-8 genre-lists" ng-if=" genreVm.tracks">
                <div ng-repeat="track in genreVm.tracks" class="indent">
                    {{track.display}}
                </div>
            </div>
        </div>
    </div>


</div>