@mixin tile($margin) {
  margin: $margin;
  background: rgba(255,255,255,0.1);

  &:hover {
    background: rgba(255,255,255,0.4);
  }
}

.moods {

  .genre-lists {
    padding: 10px;
    @include tile(10px);
  }

}


.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

i, .pointer {
  &:hover {
    cursor: pointer;
  }
}

@media (min-width: 970px) {
  .right-arrow {
    box-shadow: -5px -5px 50px -10px #fff inset;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}